[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/CamelCaseMotion"]
	path = bundle/CamelCaseMotion
	url = git://github.com/bkad/CamelCaseMotion.git
[submodule "nerdtree"]
	path = nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-indent-object"]
	path = bundle/vim-indent-object
	url = git://github.com/michaeljsmith/vim-indent-object.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule "bundle/closetag"]
	path = bundle/closetag
	url = git://github.com/vim-scripts/closetag.vim.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/vim-rubytest"]
	path = bundle/vim-rubytest
	url = git://github.com/janx/vim-rubytest.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/ruby-cucumber"]
	path = bundle/ruby-cucumber
	url = git://github.com/vinhtiensinh/ruby-cucumber.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "bundle/blockle"]
	path = bundle/blockle
	url = git@github.com:vim-scripts/blockle.vim.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = git@github.com:jwhitley/vim-matchit.git
