[user]
	name = Ben Simpson
	email = thehoagie@gmail.com

[rerere]
  enabled = 0

[color]
  ui = auto

[push]
  default = current

[alias]
  s =  status
  d =  diff
  l =  log
  c =  checkout
  pom =  pull origin master
  over =  ! git checkout master && git pull origin master && git checkout - && git rebase master

[rebase]
  autosquash = true
